@page
@model PaperGate.Web.Pages.Account.Admin.ContactWays.DeleteModel

@{
    ViewData["Title"] = "حذف راه ارتباطی";
}

<div class="container py-8">
    <ul class="breadcrumb">
        <li><a class="hover:text-blue-600 transition" href="~/">خانه</a> <span class="text-gray-500">/</span></li>
        <li><a class="hover:text-blue-600 transition" href="~/Account/Admin/Categories">پنل</a> <span class="text-gray-500">/</span></li>
        <li><a class="hover:text-blue-600 transition" href="~/Account/Admin/ContactWays">راه ارتباطی</a></li>
    </ul>
    <div class="block tablet:flex justify-between">
        @await Component.InvokeAsync("SidePanelComponent")
        <div class="w-full tablet:w-9/12 px-3 mt-5">
            <div class="PanelCard border rounded p-3">
                <!--                تایتل-->
                <div class="PanelCard-header">
                    <h2 class="text-lg">حذف راه ارتباطی</h2>
                </div>
                <div class="PanelCard-body pt-5">
                    <form method="post">
                        <input type="hidden" asp-for="ContactWayInfo.Id" />

                        <div class="block tablet:flex justify-between">
                            <div class="w-full tablet:w-1/2 px-2">
                                <!--                                نام-->
                                <div class="flex flex-col mt-3">
                                    <label for="name" class="customLabel">نام</label>
                                    <input asp-for="ContactWayInfo.Title" id="name" class="customInput disabled:bg-gray-100" disabled>
                                </div>
                            </div>
                            <div class="w-full tablet:w-1/2 px-2">
                                <!-- آدرس -->
                                <div class="flex flex-col mt-3">
                                    <label for="price" class="customLabel">نمایه </label>
                                        <i class="@Model.ContactWayInfo.Icon block m-auto mt-10 text-3xl"></i>
                                </div>
                            </div>
                        </div>

                        <div class="w-full flex px-2">
                            <div class="w-1/2 py-3 pl-3">
                                <button type="submit" class="subBtn btnDanger">
                                    تایید
                                </button>
                            </div>
                            <div class="w-1/2 py-3 pr-3">
                                <a asp-page="Index" class="subBtn btnDark">
                                    بازگشت
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>