@page
@model PaperGate.Web.Pages.Account.Admin.Papers.CreateModel

        @{
        ViewData["Title"] = "Create";
        }
        
        <h1>Create</h1>
        
    <h4>PaperInfo</h4>
    <hr />
    <div class="row">
    <div class="col-md-4">
    <form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PaperInfo.Title" class="control-label"></label>
                <input asp-for="PaperInfo.Title" class="form-control" />
                <span asp-validation-for="PaperInfo.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaperInfo.Content" class="control-label"></label>
                <input asp-for="PaperInfo.Content" class="form-control" />
                <span asp-validation-for="PaperInfo.Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaperInfo.AuthorId" class="control-label"></label>
                <select asp-for="PaperInfo.AuthorId" class ="form-control" asp-items="ViewBag.AuthorId"></select>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="PaperInfo.IsDeleted" /> @Html.DisplayNameFor(model => model.PaperInfo.IsDeleted)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="PaperInfo.CreatedOn" class="control-label"></label>
                <input asp-for="PaperInfo.CreatedOn" class="form-control" />
                <span asp-validation-for="PaperInfo.CreatedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaperInfo.ModifiedOn" class="control-label"></label>
                <input asp-for="PaperInfo.ModifiedOn" class="form-control" />
                <span asp-validation-for="PaperInfo.ModifiedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
