@import url('https://cdn.jsdelivr.net/gh/rastikerdar/vazir-font@v30.1.0/dist/font-face.css');
body {
    font-family: Vazir;
    direction: rtl;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

* {
    outline: none;
}
.space-x-normal {
    width: 95%;
    margin: 0 auto 0 auto;
}
.z-index-99 {
    z-index: 999 !important;
}
.z-index-999 {
    z-index: 99999 !important
}
.z-index--1 {
    z-index: -1 !important;
}
.text-medium {
    font-size: 18px;
}
.w-100 {
    width: 100% !important;
}
.h-100 {
    height: 34rem !important;
}
.mt-13 {
    margin-top: 3rem !important;
}
