@model PaperGate.Web.ViewModels.SidePanelViewModel
@using PaperGate.Core.Libraries.StaticValues
<div class="w-full tablet:w-3/12 px-3 mt-2">
	<ul class="w-full rounded overflow-hidden mt-3 text-gray-800 border">
		@if (User.Identity.IsAuthenticated)
		{
			<li class="panelList">
				<a href="/Account/Admin/Categories">
					مدیریت دسته بندی
				</a>
			</li>
			<li class="panelList">
				<a href="/Account/Admin/User">
					مدیریت کاربران
				</a>
			</li>
			<li class="panelList">
				<a href="/Account/Admin/Preferences/AboutUsManagement">
					مدیریت صفحه درباره ما
				</a>
			</li>
			<li class="panelList">
				<a href="/Account/Admin/ContactWays">
					مدیریت راه های ارتباطی
				</a>
			</li>
			<li class="panelList">
				<a href="/Account/Admin/Messages">
					مدیریت پیام ها
				</a>
			</li>
			<li class="panelList">
				<a href="/Account/Admin/Keywords">
					مدیریت کلمات کلیدی
				</a>
			</li>
			@if(Model != null && Model.Categories != null && Model.Categories.Count > 0)
			{
				@foreach (var item in Model.Categories)
				{
					<li class="panelList">
						<a href="/Account/Admin/Posts?sub=@item.Id">
							مدیریت @item.Title
						</a>
					</li>
				}
			}
		}
	</ul>
</div>