@page
@model RegisterModel
@{
    ViewData["Title"] = "ثبت نام";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-12">
        <form id="registerForm" asp-route-returnUrl="@Model.RegisterDto.ReturnUrl" method="post">
            <h2>Create a new account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="RegisterDto.Name" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="RegisterDto.Name">نام</label>
                <span asp-validation-for="RegisterDto.Name" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="RegisterDto.LastName" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="RegisterDto.LastName">نام خانوادگی</label>
                <span asp-validation-for="RegisterDto.LastName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="RegisterDto.NationalCode" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="RegisterDto.NationalCode">کد ملی</label>
                <span asp-validation-for="RegisterDto.NationalCode" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="RegisterDto.Password" type="password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="RegisterDto.Password">رمز عبور</label>
                <span asp-validation-for="RegisterDto.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="RegisterDto.ConfirmPassword" type="password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="RegisterDto.ConfirmPassword">تکرار رمز عبور</label>
                <span asp-validation-for="RegisterDto.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">ثبت نام</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
