@page
@model PaperGate.Web.Pages.Account.Admin.User.ChangePasswordModel
@{
    ViewData["Title"] = "ویرایش رمز عبور";
}
<div class="container py-8">
    <ul class="breadcrumb">
        <li><a class="hover:text-blue-600 transition" href="~/">خانه</a> <span class="text-gray-500">/</span></li>
        <li><a class="hover:text-blue-600 transition" href="~/Account/Admin">پنل</a> <span class="text-gray-500">/</span></li>
        <li><a class="hover:text-blue-600 transition" href="~/Account/Admin/Users">کاربر</a><span class="text-gray-500">/</span></li>
        <li><a class="hover:text-blue-600 transition" href="#"> ویرایش رمز عبور </a></li>
    </ul>
    <div class="block tablet:flex justify-between">
        @await Component.InvokeAsync("SidePanelComponent")
        <div class="w-full tablet:w-9/12 px-3 mt-5">
            <div class="PanelCard border rounded p-3">
                <!--                تایتل-->
                <div class="PanelCard-header">
                    <h2 class="text-lg">تغییر رمز عبور</h2>
                </div>
                <div class="PanelCard-body pt-5">
                    <form method="post">
                        <div asp-validation-summary="All"></div>
                        <input type="hidden" asp-for="PasswordDto.Id" />
                        <div class="w-full tablet:flex px-2">
                            <!--    رمز عبور جدید-->
                            <div class="flex flex-col w-full px-1 tablet:w-1/2 mt-3">
                                <label for="newPass" class="customLabel">رمز عبور جدید</label>
                                <input asp-for="PasswordDto.NewPassword" id="newPass" type="text" placeholder="رمز عبور جدید"
                                       class="customInput">
                            </div>
                            <!--    تکرار رمز عبور-->
                            <div class="flex flex-col w-full px-1 tablet:w-1/2 mt-3">
                                <label for="passagain" class="customLabel">تکرار رمز عبور </label>
                                <input asp-for="PasswordDto.ConfirmNewPassword" id="passagain" type="text" placeholder="تکرار رمز عبور "
                                       class="customInput">
                            </div>
                        </div>

                        <div class="w-full flex px-2">
                            <div class="w-1/2 py-3 pl-3">
                                <button type="submit" class="subBtn btnSolid">
                                    تایید
                                </button>
                            </div>
                            <div class="w-1/2 py-3 pr-3">
                                <a asp-page="Index" class="subBtn btnDark">
                                    بازگشت
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
