@page
@model PaperGate.Web.Pages.Account.Admin.User.DeleteModel
@{
    ViewData["Title"] = "حذف کاربر";
}
<div class="space-x-normal py-8">
    <ul class="breadcrumb">
        <li><a class="hover:text-blue-600 transition" href="~/">خانه</a> <span class="text-gray-500">/</span></li>
        <li><a class="hover:text-blue-600 transition" href="~/Account/Admin">پنل</a> <span class="text-gray-500">/</span></li>
        <li><a class="hover:text-blue-600 transition" href="~/Account/Admin/Users">کاربر</a><span class="text-gray-500">/</span></li>
        <li><a class="hover:text-blue-600 transition" href="#"> حذف </a></li>
    </ul>
    <div class="block tablet:flex justify-between">
        <partial name="_Panel" />
        <div class="w-full tablet:w-9/12 px-3 mt-5">
            <div class="PanelCard border rounded p-3">
                <!--                تایتل-->
                <div class="PanelCard-header">
                    <h2 class="text-lg">حذف کاربر @Model.DeleteDto.Name</h2>
                </div>
                <div class="PanelCard-body pt-5">
                    <form method="post">
                        <input type="hidden" asp-for="DeleteDto.Id" />

                        <div class="block tablet:flex justify-between">
                            <!--       نام-->
                            <div class="w-full tablet:w-1/2 px-2">
                                <div class="flex flex-col mt-3">
                                    <label class="customLabel">نام</label>
                                    <input type="text" asp-for="DeleteDto.Name"
                                           class="customInput disabled:bg-gray-100" disabled>
                                </div>
                            </div>
                            <!--    نام خانوادگی-->
                            <div class="w-full tablet:w-1/2 px-2">
                                <div class="flex flex-col mt-3">
                                    <label class="customLabel">نام خانوادگی: </label>
                                    <input type="text" asp-for="DeleteDto.LastName"
                                           class="customInput disabled:bg-gray-100" disabled>
                                </div>
                            </div>

                        </div>
                        <!--شماره تلفن-->
                        <div class="w-full tablet:w-1/2 px-2">
                            <div class="flex flex-col mt-3">
                                <label class="customLabel">کد ملی</label>
                                <input type="text" asp-for="DeleteDto.NationalCode"
                                       class="customInput disabled:bg-gray-100" disabled>
                            </div>
                        </div>
                        <div class="w-full flex px-2">
                            <div class="w-1/2 py-3 pl-3">
                                <button asp-route-Id="@Model.DeleteDto.Id" type="submit" class="subBtn btnDanger">
                                    حذف
                                </button>
                            </div>
                            <div class="w-1/2 py-3 pr-3">
                                <a asp-page="Index" class="subBtn btnDark">
                                    بازگشت
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>