@page
@model IndexModel
@{
    ViewData["Title"] = "خانه";
}
<section class="container mt-8">
    <img src="~/images/cambridge-university.jpg" class="w-full h-[500px] rounded shadow-md shadow-gray-400" alt="image">
    <div class="grid tablet:grid-cols-4 sm768:grid-cols-3 xs500:grid-cols-2 grid-cols-1 mt-16 gap-4">
        <div class="cursor-pointer w-full">
            <div>
                <img src="../images/banner.jpg" alt="blog" class="h-52 rounded-t">
            </div>
            <div class="bg-white pt-4 pb-6 px-3 rounded-b">
                <h2 class="font-semibold text-gray-700 text-base">تایتل مقاله</h2>
                <h5 class="font-medium text-gray-700 text-sm mt-2 flex justify-between">
                    <span>تاریخ انتشار </span>
                    <span>12/12/12</span>
                </h5>

            </div>
        </div>
        <div class="cursor-pointer w-full">
            <div>
                <img src="../images/banner.jpg" alt="blog" class="h-52 rounded-t">
            </div>
            <div class="bg-white pt-4 pb-6 px-3 rounded-b">
                <h2 class="font-semibold text-gray-700 text-base">تایتل مقاله</h2>
                <h5 class="font-medium text-gray-700 text-sm mt-2 flex justify-between">
                    <span>تاریخ انتشار </span>
                    <span>12/12/12</span>
                </h5>

            </div>
        </div>
        <div class="cursor-pointer w-full">
            <div>
                <img src="../images/banner.jpg" alt="blog" class="h-52 rounded-t">
            </div>
            <div class="bg-white pt-4 pb-6 px-3 rounded-b">
                <h2 class="font-semibold text-gray-700 text-base">تایتل مقاله</h2>
                <h5 class="font-medium text-gray-700 text-sm mt-2 flex justify-between">
                    <span>تاریخ انتشار </span>
                    <span>12/12/12</span>
                </h5>

            </div>
        </div>
        <div class="cursor-pointer w-full">
            <div>
                <img src="../images/banner.jpg" alt="blog" class="h-52 rounded-t">
            </div>
            <div class="bg-white pt-4 pb-6 px-3 rounded-b">
                <h2 class="font-semibold text-gray-700 text-base">تایتل مقاله</h2>
                <h5 class="font-medium text-gray-700 text-sm mt-2 flex justify-between">
                    <span>تاریخ انتشار </span>
                    <span>12/12/12</span>
                </h5>

            </div>
        </div>
        <div class="cursor-pointer w-full">
            <div>
                <img src="../images/banner.jpg" alt="blog" class="h-52 rounded-t">
            </div>
            <div class="bg-white pt-4 pb-6 px-3 rounded-b">
                <h2 class="font-semibold text-gray-700 text-base">تایتل مقاله</h2>
                <h5 class="font-medium text-gray-700 text-sm mt-2 flex justify-between">
                    <span>تاریخ انتشار </span>
                    <span>12/12/12</span>
                </h5>

            </div>
        </div>
        <div class="cursor-pointer w-full">
            <div>
                <img src="../images/banner.jpg" alt="blog" class="h-52 rounded-t">
            </div>
            <div class="bg-white pt-4 pb-6 px-3 rounded-b">
                <h2 class="font-semibold text-gray-700 text-base">تایتل مقاله</h2>
                <h5 class="font-medium text-gray-700 text-sm mt-2 flex justify-between">
                    <span>تاریخ انتشار </span>
                    <span>12/12/12</span>
                </h5>

            </div>
        </div>
        <div class="cursor-pointer w-full">
            <div>
                <img src="../images/banner.jpg" alt="blog" class="h-52 rounded-t">
            </div>
            <div class="bg-white pt-4 pb-6 px-3 rounded-b">
                <h2 class="font-semibold text-gray-700 text-base">تایتل مقاله</h2>
                <h5 class="font-medium text-gray-700 text-sm mt-2 flex justify-between">
                    <span>تاریخ انتشار </span>
                    <span>12/12/12</span>
                </h5>

            </div>
        </div>
        <div class="cursor-pointer w-full">
            <div>
                <img src="../images/banner.jpg" alt="blog" class="h-52 rounded-t">
            </div>
            <div class="bg-white pt-4 pb-6 px-3 rounded-b">
                <h2 class="font-semibold text-gray-700 text-base">تایتل مقاله</h2>
                <h5 class="font-medium text-gray-700 text-sm mt-2 flex justify-between">
                    <span>تاریخ انتشار </span>
                    <span>12/12/12</span>
                </h5>

            </div>
        </div>
    </div>
</section>