@page
@model PaperGate.Web.Pages.Account.Admin.Keywords.CreateModel

@{
    ViewData["Title"] = "ایجاد کلمه کلیدی";
}

<div class="container py-8">
    <ul class="breadcrumb">
        <li><a class="hover:text-blue-600 transition" href="~/">خانه</a> <span class="text-gray-500">/</span></li>
        <li><a class="hover:text-blue-600 transition" href="~/Account/Admin/Categories">پنل</a> <span class="text-gray-500">/</span></li>
        <li><a class="hover:text-blue-600 transition" href="~/Account/Admin/Keywords">کلمات کلیدی</a><span class="text-gray-500">/</span></li>
        <li><a class="hover:text-blue-600 transition" href="#">ایجاد</a></li>
    </ul>
    <div class="block tablet:flex justify-between">
        @await Component.InvokeAsync("SidePanelComponent")
        <div class="w-full tablet:w-9/12 px-3 mt-5">
            <div class="PanelCard border rounded p-3">
                <!--                تایتل-->
                <div class="PanelCard-header">
                    <h2 class="text-lg">اضافه کردن کلمه کلیدی</h2>
                </div>
                <div class="PanelCard-body pt-5">
                    <form method="post">
                        <div class="text-center" asp-validation-summary="All"></div>
                        <div class="block md:flex justify-between">
                            <!--                            نام-->
                            <div class="w-full md:w-1/2 px-2">
                                <div class="flex flex-col mt-3">
                                    <label for="name" class="customLabel">نام کلمه کلیدی</label>
                                    <input asp-for="KeywordDTO.Title" type="text" id="name" placeholder="نام کلمه کلیدی را وارد کنید"
                                           class="customInput">
                                    <span class="text-red-600 block" asp-validation-for="KeywordDTO.Title"></span>

                                </div>
                            </div>
                            <!--                            نام اتین-->
                            <div class="w-full md:w-1/2 px-2">
                                <div class="flex flex-col mt-3">
                                    <label for="name" class="customLabel">نام لاتین کلمه کلیدی</label>
                                    <input asp-for="KeywordDTO.EnglishTitle" type="text" id="name" placeholder="نام لاتین کلمه کلیدی را وارد کنید"
                                           class="customInput">
                                    <span class="text-red-600 block" asp-validation-for="KeywordDTO.EnglishTitle"></span>

                                </div>
                            </div>
                            <!--    توضیحات-->
                            <div class="w-full md:w-1/2 px-2">
                                <div class="flex flex-col mt-3">
                                    <label for="name" class="customLabel">توضیحات کلمه کلیدی</label>
                                    <textarea asp-for="KeywordDTO.Description" class="customInput"></textarea>
                                    <span class="text-red-600 block" asp-validation-for="KeywordDTO.Description"></span>
                                </div>

                            </div>
                        </div>
                        <div class="w-full flex px-2">
                            <div class="w-1/2 py-3 pl-3">
                                <button type="submit" class="subBtn btnSuccess">
                                    تایید
                                </button>
                            </div>
                            <div class="w-1/2 py-3 pr-3">
                                <a asp-page="Index" class="subBtn btnDark">
                                    بازگشت
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
